.alarm-state-content {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
  
    img {
      position: absolute;
      top: 0;
      left: 20px;
      width: 13px;
      @media (max-width: 1536px) {
        width: 10px;
      }
    }
    .top {
      height: 60px;
      border: 1px solid #253255;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
  
      @media (max-width: 1536px) {
        height: 50px;
      }
  
      .title-text {
        font-size: 20px;
        margin-left: 40px;
        color: #5e76ba;
        font-family: "gothic 12";
        @media (max-width: 1536px) {
          font-size: 15px;
          margin-left: 40px;
        }
      }
    }
    .bottom {
      display: flex;
      height: 100%;;
  
      .right {
          display: grid;
          height: 90%;
          padding: 10px 0;
          width: 100%;
          justify-content: space-around;
          margin:0 10px;
          align-items: center;
          grid-template-columns: 1fr 1fr 
      }
    }
  }
  