  .station-detail-info {
      display: flex;
      height: 100%;
      width: 100%;

      @media (max-width: 1200px) {
        flex-direction: column;
      }

      

      &.station-detail-info-user{
        grid-template-columns: 1fr 2fr;


      }
      .station-detail-info-left {
        padding: 35px 20px;
        width: 35%;
        justify-content: space-between;
        border-right: 1px solid #2b3a63;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 1200px) {
          width: 100%;

        }

        &.station-detail-info-left-info{
          padding: 0;
          width: 65%;
          @media (max-width: 1200px) {
            width: 100%;
            border-top: 1px solid #2b3a63;
          }
        }

        .station-img-container {
          border: 1px solid #2b3a63;
          margin: 20px;
          width: auto;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px;
          background-color: #212c4b;
          position: relative;

          @media (max-width: 1536px) {
            height: 150px;
          }

          @media (max-width: 1200px) {
            width: 300px;
          }

          .default-text {
            font-family: "gothic 12";
            color: #8faadc;
            font-size: 14px;
          }

          .img_station_logo {
            position: absolute;
            bottom: -30px;
            width: 150px;
            right: -20px;
          }
        }

        .station-detail-info-left-inner {
          display: flex;
          flex-direction: column;
          gap: 25px;

          @media (max-width: 1536px) {
            gap: 10px;
          }
          .station-detail-info-left-item {
            display: flex;
            gap: 10px;            
            .station-detail-info-left-item-icon {
              width: 50px;
              height: 50px;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #212c4b;
            }
            .station-detail-info-left-item-value {
              display: flex;
              flex-direction: column;
              gap: 3%;
              .station-detail-info-title {
                font-family: "gothic 12";
                color: #5e76ba;
                font-size: 13px;
              }
              .station-detail-info-content {
                font-family: "gothic 12";
                color: #8faadc;
                font-size: 16px;
              }
            }
          }
          .user-detail-header-info{
               display: flex;
               align-items: center;
               gap: 20px;
            .user-detail-header-info-text-circle{
              width: 120px;
              border-radius: 100%;
              display: flex;
              align-items: end;
              justify-content: center;
              height: 120px;
              background-color: #2b3a63;

              img{
                width: 65%;
                height: 80%;
              }
            }
            .user-detail-header-info-text{
              display: flex;
              flex-direction: column;
              .detail-info-text-level{
                color: #00B0F0;
                font-size: 18px;
                font-family: "gothic L";
              }

              .detail-info-main-text-level{
                color: #5591c7;
                font-size: 28px;
                font-family: "gothic b";
              }
            }
          }
        }

      }
      .station-detail-info-right {
        padding: 35px 20px;
        width: 30%;

        @media (max-width: 1200px) {
          width: auto;
        }



        .station-detail-location {

          width: 100%;
          height: 100%;
          background-color: #bcbabd;

          @media (max-width: 1536px) {
            height: 450px
          }
        }
      }
      .station-detail-info-right-material{
        padding: 10px 0;
        width: 30%;

 

        .station-detail-info-left-item {
          display: flex;
          
          margin: 20px;
          gap: 10px;
          .station-detail-info-left-item-icon {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #212c4b;
          }
          .station-detail-info-left-item-value {
            display: flex;
            flex-direction: column;
            gap: 3%;
            .station-detail-info-title {
              font-family: "gothic 12";
              color: #5e76ba;
              font-size: 13px;
            }
            .station-detail-info-content {
              font-family: "gothic 12";
              color: #8faadc;
              font-size: 16px;
            }
          }
        }

        .station-img-container {
          border: 1px solid #2b3a63;
          margin: 20px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px;
          background-color: #212c4b;
          position: relative;

          @media (max-width: 1536px) {
            height: 150px;
          }



          @media (max-width: 1200px) {
            width: 300px;
          }

          .default-text {
            font-family: "gothic 12";
            color: #8faadc;
            font-size: 14px;
          }

          .img_station_logo {
            position: absolute;
            bottom: -30px;
            width: 150px;
            right: -20px;
          }
        }
      }
    }

