.station-list {
  margin: 10px 20px;
  height: 700px;
  background-color: #1c2641;

  &.equipments {
    margin: 10px 0;
  }

  .header-table {
    height: 50px;
    border: 1px solid #253255;
    display: flex;
    justify-content: space-between;

    .left {
      height: 100%;
      display: flex;
      align-items: center;

      > * {
        border-right: 1px solid #253255;
      }

      .icon-header {
        height: 100%;
        width: 50px;
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;

        .tooltip{
          position: absolute;
          text-align: center;
          font-size: 12px;
          background-color: #1c2641;
          width: 80px;
          z-index: 10;
          border-radius: 10px;
          padding: 3px 0;
          font-family: "gothic 12";
          color: #8FAADC;
          top: 40px;
        }
      }
    }
    .right {
      height: 100%;
      display: flex;
      align-items: center;

      .icon-header {
        height: 100%;
        width: 50px;
        position: relative;
        justify-content: center;
        display: flex;
        border-left: 1px solid #253255;
        align-items: center;
        .tooltip{
          position: absolute;
          text-align: center;
          font-size: 12px;
          background-color: #1c2641;
          width: 80px;
          z-index: 10;
          border-radius: 10px;
          padding: 3px 0;
          font-family: "gothic 12";
          color: #8FAADC;
          top: 40px;
        }
      }
    }
  }

  .table {
    width: 100%;
    height: 90%;

    &.table-user{
      height: 100%;
    }
    .custom-datagrid {
      font-family: "gothic 12";
      color: #fff;
      border: none;
      font-size: 13px;
    }

    .prod-text-value {
      font-family: "gothic 12";
      font-size: 13px;

      &.production {
        color: #00b0f0;
      }

      &.storaging {
        color: #ffc000;
      }
      &.charging {
        color: #92d050;
      }
      @media (max-width: 1989px) {
        font-size: 15px;
      }
    }
    .MuiDataGrid-columnHeaders {
      background-color: #253255;
      color: #8faadc;
      min-height: 20px;
    }

    .MuiDataGrid-columnHeaderTitle {
      font-family: "gothic 12";
    }
    .MuiDataGrid-cellContent {
      font-family: "gothic 12";
    }
    .MuiDataGrid-withBorderColor {
      border-color: #2b3a63;
    }
    .MuiDataGrid-columnHeader {
      border: 1px solid #232f50;
    }
    .MuiDataGrid-overlay {
      background-color: #1c2641;
    }
    .MuiDataGrid-cell {
      border: 1px solid #232f50;
    }
    .MuiDataGrid-checkboxInput {
      color: #576fae;
    }
    .MuiTablePagination-root {
      color: #8faadc;
    }
    .MuiSvgIcon-root {
      color: #8faadc;
    }
    .MuiDataGrid-virtualScroller {


      &::-webkit-scrollbar {
        width: 2px;
        height: 7px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: #1c2641;

      }
    
  
      &::-webkit-scrollbar-thumb {
        background-color: #35477b;
        border-radius: 4px; 
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #5E76BA; 
      }
    }

    .MuiDataGrid-columnHeaderTitleContainerContent {
      span {
        margin: 0;
      }
    }
  }
}
