.operation-state-content {
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;

  img {
    position: absolute;
    top: 0;
    left: 20px;
    width: 13px;
    @media (max-width: 1536px) {
      width: 10px;
    }
  }
  .top {
    height: 60px;
    border: 1px solid #253255;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

    @media (max-width: 1536px) {
      height: 50px;
    }

    .title-text {
      font-size: 20px;
      margin-left: 40px;
      color: #5e76ba;
      font-family: "gothic 12";
      @media (max-width: 1536px) {
        font-size: 15px;
        margin-left: 40px;
      }
    }
  }
  .bottom {
    display: flex;
    height: 100%;

    .left {
      .graph-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .circle-dash{
          // border: 3px solid #01adef; 
          position: absolute;
          top: 15px;
          z-index: 1;
          left: 11%;
          width: 160px;
          height: 160px;
          box-shadow: 0px 0px 10px 5px rgba(33, 87, 179, 1.3);
          border-radius: 100%;
          opacity: 0; 
          pointer-events: none;
          animation: fadeIn 1.5s ease 1.5s forwards; 
    
          &.cirlce-dash-color{
            box-shadow: 0px 0px 10px 5px  rgba(68,102,47, 1.3);
          }
    
          @media (max-width: 1536px) {
            top: 20px;
            left: 20px;
            width: 107px;
            height: 109px;
          }
        }

        .text-percentage {
          color: white;
          position: absolute;
          top: 80px;
          font-family: "gothic M";
          font-size: 28px;

          @media (max-width: 1536px) {
            font-size: 20px;
            top: 65px;
          }
        }
      }
    }
    .right {
      display: grid;
      height: 90%;
      width: 100%;
  
      padding: 10px ;
      justify-content: space-around;
      margin-right: 10px;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
