.mainDashboard {
  background-color: #030629;
  padding: 10px;
  overflow: auto;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1.5fr 1.5fr  5fr;

  @media (max-width: 1536px) {
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr  1fr;
  }

  @media (max-width: 1400px) {
    grid-template-columns: 1.1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr  1fr;
  }


  &::-webkit-scrollbar {
    width: 6px;
    background-color: #1c2641;
  }

  .item {
    margin: 10px;
  }

  .item-2 {
    grid-row: span 5;
    grid-column: 2;
  }

  .item-3{
    
  }
  .item-7 {
    grid-row: span 3;
    grid-column: 3;
  }

  .item-5 {
    margin-bottom: 10px;
    grid-row: span 3;
  }
  .item-6 {
    margin-bottom: 10px;
  }

  @media (max-width: 1312px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-template-columns: none;
    grid-template-rows: none;

    .item {
      margin: 10px 0;
    }

    .item-2,
    .item-3 {
      grid-row: auto;
      grid-column: auto;
    }
  }
}
