.production-value-content {
  display: flex;
  flex-direction: column;
  height: 95%;
  background-color: #212c4b;
  border-radius: 5px;
  justify-content: center;
  margin: 5px;
  border: 1px solid #253255;

  .prod-item {
    display: flex;
    flex: 1;
    padding: 20px 0;
    justify-content: center;
    align-items: center;

    @media (max-width: 1536px) {
      padding: 12px 0;
    }

    .prod-text-name {
      color: #8faadc;
      font-family: "gothic 12";
      font-size: 15px;
    }

    .prod-text-value {

      font-family: "gothic M";
      font-size: 15px;

      &.production {
        color: #00b0f0;
      }

      &.storaging {
        color: #ffc000;
      }
      &.charging {
        color: #92d050;
      }
      @media (max-width: 1989px) {
        font-size: 15px;
      }
    }
    .prod-text-percentage {
        color: #8faadc;
        font-family: "gothic 12";
        font-size: 15px;
    }
  }
  .prod-item:not(:last-child) {
    border-bottom: 1px solid #253255;
  }
}
