.search-premissons {
  background-color: #1c2641;
  margin: 10px 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input-items {
    display: flex;
    width: 50%;
    height: auto;

    &.buttons {
      justify-content: end;
    }

    .search-input-item {
      display: flex;
      z-index: 1;
      width: 300px;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      padding: 10px;

      &.buttons {
        align-items: end;
        height: 50px;
        width: 150px;
      }

      &.hide {
        display: none;
      }

      &.row-long {
        grid-column: span 2;
      }

      .custom-input-default {
        width: 93%;
        padding: 10px;
        color: #fff;
        border: 1px solid #2b3a63;
        font-size: 14px;
        border-radius: 5px;
        background-color: #212c4b;

        &:focus {
          outline: none;
          border-color: #8faadc;
        }
      }

      .button-container-custum {
        display: flex;

        .custom-button-radio {
          width: 50%;
          border: 1px solid #2b3a63;
          padding: 10px;
          color: #8faadc;
          font-size: 14px;
          background-color: #212c4b;

          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &.active {
            outline: none;
            border-color: #8faadc;
          }
        }
      }

      .button-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        border-radius: 5px;
        letter-spacing: 2px;
        font-family: "gothic 12";
        font-size: 16px;
        border: 1px solid #2b3a63;
        background-color: #212c4b;
        color: #8faadc;
        height: 100%;
        @media (max-width: 1536px) {
          font-size: 14px;
        }
      }

      input {
        &::placeholder {
          color: #8faadc;
        }
      }

      .custom-select {
        width: 100%;
        border: 1px solid #2b3a63;
        padding: 10px;
        color: #8faadc;
        font-size: 14px;
        border-radius: 5px;
        background-color: #212c4b;

        &:focus {
          outline: none;
          border-color: #8faadc;
        }
      }
    }
  }
}
