.map-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
  flex-direction: column;
  height: 100%;
  // border: 1px solid white;

  @media (max-width: 1312px) {
    display: none;
    position: static;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
  }

  .map-content {
    width: 100%;
    height: 100%;
    position: relative;
    @media (max-width: 1536px) {
      height: 80%;
    }
    .info-container {
      // position: absolute;
      right: 0;
      border: 1px solid #576dad;
      top: 0;
      height: 120px;
      opacity: 0.9;
      width: 220px;
      background-color: #1b2540;
      @media (max-width: 1536px) {
        width: 160px;
        height: 90px;
      }

      .top {
        background-color: #576dad;
        align-items: center;
        position: relative;
        justify-content: space-between;
        flex: 1;
        display: flex;
        height: 30%;
        @media (max-width: 1536px) {
          height: 30%;
        }

        .img-marker {
          position: absolute;
          width: 9px;
          bottom: 14px;
          left: 10px;
        }

        span {
          font-family: "gothic 14";
          margin-left: 30px;
          @media (max-width: 1536px) {
            font-size: 10px;
          }
        }

        .icons-container {
          margin: 5px;
          display: flex;
          height: 100%;
          align-items: center;
          gap: 10px;
        }
      }

      .bottom {
        flex: 3;
        height: 70%;
        padding-left: 10px;
        display: flex;

        span {
          font-size: 13px;
          font-family: "gothic 12";
          @media (max-width: 1536px) {
            font-size: 10px;
          }
        }

        .left {
          display: flex;
          justify-content: center;
          color: #5e76ba;
          height: 100%;
          gap: 7px;
          width: 30%;
          flex-direction: column;
          @media (max-width: 1536px) {
            width: 40%;
          }
        }
        .right {
          display: flex;
          justify-content: center;
          font-family: "gothic 12";
          flex-direction: column;
          gap: 7px;
        }
      }
    }

    // .gm-style-iw {
    //   overflow: hidden;
    // }
    // .gm-style-iw-t {
    //   background-color: black;
    // }
    // .gm-style-iw-c {
    //   background-color: black;
    //   padding: -30px;
    // }

    // .gm-style-iw-d {
    //   background-color: black;
    // }

    .gm-style{
      border-radius: none;
    }

    .gm-style .gm-style-iw-d::-webkit-scrollbar-track,
    .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
    .gm-style .gm-style-iw-c,
    .gm-style-iw,
    .gm-style .gm-style-iw-t::after {
        background-color: transparent;
        border: 1px solid transparent;
        box-shadow: none;
     

    }
    .gm-style-iw,
    .gm-style-iw-c {
      border-radius: 0 
    }

    .gm-style-iw-c{
      border-radius: none;
    }
 
    .gm-style-iw-tc{
      visibility: hidden;
    }


    button.gm-ui-hover-effect {
      visibility: hidden;
  }
    .gm-style-iw.gm-style-iw-c{
      padding: 0;

      .gm-style-iw-d{
        padding: 0;
      }
    }
    
  }

  .icon-map {
    position: absolute;
    width: 3%;
  }

  .title {
    color: #5e76ba;
    font-size: 40px;
    font-family: "gothic 16";
    @media (max-width: 1536px) {
      font-size: 30px;
    }
  }
  img {
    width: 800px;
    margin-right: 25px;
    margin-top: 50px;

    @media (max-width: 1989px) {
      width: 600px;
    }
    @media (max-width: 1536px) {
      width: 400px;
    }
    @media (max-width: 1312px) {
      width: 100px;
    }
  }

  .map-filter {
    background-color: #1c2641;
    border: 1px solid #253255;
    padding: 10px 20px;
    bottom: 20px;
    right: 0;
    position: absolute;

    @media (max-width: 1536px) {
      bottom: 150px;
      padding: 10px;
    }

    @media (max-width: 1312px) {
      top: 0;
      right: auto;
    }

    .check-container {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width: 1536px) {
        gap: 10px;
      }
      .check-text {
        font-size: 16px;
        color: #8faadc;
        font-family: "gothic 12";

        @media (max-width: 1536px) {
          font-size: 12px;
        }
      }
    }
  }
}
