.equipment-item-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  // &.clicked-item {
  //   width: 900px;
  // }

  .top {
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #253255;

    .title-name {
      display: flex;
      width: 100%;
      align-items: center;
      color: #8faadc;
      font-family: "gothic 12";
      font-size: 15px;
      @media (max-width: 1536px) {
        align-items: center;
        font-size: 13px;
      }
    }

    .switch-soundess {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .items-mid {
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;

    .imgs {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;

        @media (max-width: 1536px) {
          width: 60%;
        }
      }
    }
    &.clicked-item {
      justify-content: space-between;
      .mid {
        flex: 1;
        align-items: center;
      }
      .mid-values-graph {
        flex: 1.5;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media (max-width: 1536px) {
          height: 100%;
          flex: 3;
          align-items: start;
        }
        .mid-vlues-chart-one-bar {
          width: 410px;
          position: relative;
          height: 90%;

          @media (max-width: 1536px) {
            width: 370px;
            height: 100%;
          }

          .graphs-value-item {
            position: absolute;
            bottom: 0;
            top: 30px;
            left: 40px;
            display: flex;
            right: 20px;
            height: 100%;
            @media (max-width: 1536px) {
              top: 32px;
              height: 95%;
            }
            .item-value {
              align-items: flex-end;
              height: 100%;
              opacity: 1;
              display: flex;
              flex-direction: column;
              gap: 5px;

              .time-graph-text {
                transform: rotate(-35deg);
                color: #8faadc;
                font-family: "gothic l";
                font-size: 13px;
                margin-right: 5px;

                @media (max-width: 1536px) {
                  font-size: 10px;
                }
              }
            }
          }

          .wrap-container {
            display: flex;
            align-items: center;
            gap: 10px;
            text-align: right;
            align-items: center;
            margin-bottom: -10px;

            @media (max-width: 1536px) {
              gap: 5px;
            }

            .text-container {
              text-align: right;
              width: 30px;
              p {
                color: #8faadc;
                font-size: 12px;
                font-family: "gothic l";

                @media (max-width: 1536px) {
                  font-size: 10px;
                }
              }
            }

            .vertical-line-s {
              border: 1px solid #2f3f6c; /* Change color by modifying the hex code */
              width: 100%; /* Adjust the width as needed */
              margin: 20px 0; /* Adjust top and bottom margins as needed */
            }
          }
        }

        .mid-values-chart {
          display: flex;
          border: 1px;
          align-items: center;
          justify-content: center;

          .mid-vlues-chart-one {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @media (max-width: 1536px) {
              justify-content: space-around;
            }
            .graph-text-value {
              font-family: "gothic M";
              font-size: 23px;

              @media (max-width: 1536px) {
                font-size: 14px;
              }
              .graph-text-unit {
                font-family: "gothic 12";
                font-size: 14px;
                @media (max-width: 1536px) {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }

    .mid {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .middle-values {
        display: flex;
        align-items: center;
        gap: 5px;

        .text-current {
          font-size: 23px;
          font-family: "gothic M";
          @media (max-width: 1536px) {
            font-size: 15px;
          }
        }
        .text-unit {
          font-size: 18px;
          font-family: "gothic 12";
          @media (max-width: 1536px) {
            font-size: 15px;
          }
        }

        .bottom-text {
          flex: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "gothic M";
          font-size: 24px;
          @media (max-width: 1536px) {
            font-size: 15px;
          }

          &.production {
            color: var(--production);
          }

          &.storaging {
            color: #ffc000;
          }

          &.charging {
            color: #92d050;
          }
        }

        .vertical-line {
          height: 25px; 
          border-left: 1px solid #35477b; /* Стиль вертикальной линии */
          margin: 0 10px; /* Отступы вокруг линии */
        }
      }
    }
  }

  .bottom-values {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header-values {
      flex: 1;
      border-bottom: 1px solid #253255;
      border-top: 1px solid #253255;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      span {
        font-family: "gothic L";

        @media (max-width: 1536px) {
          font-size: 14px;
        }
      }

      .item-value-cnt {
        color: #8faadc;
        font-size: 19px;

        @media (max-width: 1536px) {
          font-size: 14px;
        }
      }

      .right-value {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        border-right: 1px solid #253255;
        justify-content: center;
        @media (max-width: 1536px) {
          gap: 3px;
        }
      }

      .left-value {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        @media (max-width: 1536px) {
          gap: 3px;
        }
      }
    }
    .title-name {
      flex: 1.3;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      color: #8faadc;
      font-family: "gothic 12";
      @media (max-width: 1536px) {
        font-size: 13px;
      }
    }
  }
}
