.sidebar-content {
  color: #8faadc;
  display: flex;
  width: 100%;
  flex-direction: column; 
  align-items: flex-start; 

  .title-menu {
    width: 100%;
    display: flex;

    &.hide {
      // display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    }
    > span {
      margin: 20px 5px 10px 20px;
      font-size: 14px;
      @media (max-width: 1620px) {
        font-size: 13px;
      }
    }
  }

  .menu-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      justify-content: center;
      list-style: none;
      .selected {
        background-color: #435a9b;
        font-weight: bold;
      }
      .link-item {
        padding: 3px 0 3px 30px;
        height: 28px;

        display: flex;
        text-decoration: none;
        color: #8faadc;
        align-items: center;
        justify-content: start;
        margin: 5px 0;

        &:hover {
          background-color: #2B3A63;
          color: white;
        }

        &.link-item-user {
          padding: 0 0 0 58px;


          &.hidden{
            display: none;
          }
        }

        &.hide {
          padding: 3px 0;
          justify-content: center;
        }

        &.active {
          background-color: #435a9b;
          color: white;
        }

    
        .icon-menu {
          width: 22px;
          &.hide {
            margin-right: 0;
          }
        }
        .text-menu {
          font-size: 15px;
          margin-left: 25px;
          font-family: "gothic 12";
          @media (max-width: 1536px) {
            margin-left: 0px;
     
            font-size: 14px;
            padding-left: 20px;
          }
          &.hide {
            display: none;
          }
        }
        .text-menu-hiden {
          font-size: 15px;
          font-family: "gothic 12";
          margin-left: 15px;
          @media (max-width: 1620px) {
            font-size: 14px;
          }
          &.hide {
            display: none;
          }
        }

      }
      .user-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        ul {
          li {
            margin: 10px 0;
          }
        }
      }
    }
    hr {
      margin: 5px 20px 0;
      width: 80%;
      text-align: center;
      opacity: 5%;
      color: #8faadc;
    }
  }
}
