.curent-situation-value {
  border: 1px solid #253255;
  display: flex;
  margin: 5px;
  height: 100%;
  align-items: center;
  border-radius: 10px;
  background-color: #212c4b;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 1536px) {
    margin: 2px;
  }

  .top-value {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    border-bottom: 1px solid #253255;
    .curent-text-name {
      color: #8faadc;
      font-family: "gothic 12";
      font-size: 15px;
      @media (max-width: 1536px) {
        padding: 10px 0;
        font-size: 12px;
      }
    }

  }

  .bottom-value {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;

    @media (max-width: 1536px) {
      padding: 10px 0;
    }

    .curent-text-quantity {
      font-family: "gothic M";
      font-size: 24px;
      color: white;

      @media (max-width: 1636px) {
        font-size: 19px;
      }

      &.active {
        color: #00b0f0;
      }

      &.another {
        color: #fe609a;
      }
      &.soundness {
        color: #7CB953 ;
      }
    }
  }
}
