.detail-dashboard {
  color: white;
  width: 100%;
  overflow: auto;
  background-color: var(--main-backround);
  display: flex;
  margin: 10px;
  flex-direction: column;

  .detail-dashboard-conetent {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr 0.7fr;
    grid-template-rows: 1fr 1fr 0.7fr;
    height: 100%;
    overflow: auto;

    
    @media (max-width: 1536px) {
      grid-template-columns: 1.8fr 2.1fr 0.5fr 0.7fr;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #1c2641;
    }

    @media (max-width: 1312px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      grid-template-columns: none;
      grid-template-rows: none;

      .item {
        margin: 10px 0;
      }
    }
  }

  .item {
    background-color: var(--portlet);
    margin: 10px;
  }

  .item-1 {
    grid-column: span 1;
  }

  .item-8{
    grid-column: span 2;
  }

  .item-5{
    // height: 700px;
  }
  .item-2,
  .item-4,
  .item-5,
  .item-6,
  .item-7 {
    grid-column: span 2;
  }

  .item-4{
    grid-column: span 2;
  }
}
