.alarm-list-content {
  display: flex;
  height: 100%;
  background-color: #1c2641;
  position: relative;
  flex-direction: column;

  .top {
    img {
      position: absolute;
      top: 0;
      left: 20px;
      width: 13px;
      @media (max-width: 1536px) {
        width: 10px;
      }
    }
    height: 50px;
    border: 1px solid #253255;
    display: flex;
    justify-content: space-between;
  
    align-items: center;

    @media (max-width: 1536px) {
      height: 40px;
    }

    .left {
      display: flex;
      gap: 30px;
      align-items: center;
      .title-text {
        font-size: 20px;
        margin-left: 60px;
        color: #5e76ba;
        font-family: "gothic 12";

        @media (max-width: 1536px) {
          font-size: 15px;
        }
      }
    }

    .right {
      height: 100%;
      justify-content: space-between;
      gap: 20px;
      display: flex;
      margin-right: 20px;
      align-items: center;
    }
  }

  .bottom {
    .widgets {
      align-items: center;
      justify-content: space-around;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 10px 10px;
    }

    .table {
      margin: 10px 20px;
    }
  }
}
